<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATOS.Properties.Settings.cn" connectionString="Data Source=MACANITA;Initial Catalog=tesis004;Integrated Security=True" />
    </connectionStrings>
</configuration>